*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}





.container {
  max-width: 100% !important; /* ما يزيدش عن عرض الشاشة */
  box-sizing: border-box; /* عشان البادينج والحدود داخل الحساب */
  padding: 10px;
}

.navbar {
  width: 100% !important;
  max-width: 100%;
 
  box-sizing: border-box;
}


h1{
  font-size: clamp(30px, 10vw, 60px);
}



.myProductsSwiper {
  width: 75%;
  margin: 0 auto; /* توسيط أفقي */
}

.swiper-slide {
  display: flex;
  justify-content: center;
}


.hero-banner {
  background-image: url('imgs/heroimg-4.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh; /* أو حد أقصى 400px: height: min(400px, 50vh); */
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4); /* تراكب خفيف لتفتيح النص */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight:bolder;
}
.hero-content p {
  margin: 1rem 0;
  font-size: 2rem;
}


.swiper-wrapper {
  max-width: 100% !important;
  /* overflow-x: hidden !important; */
}



html, body {
  max-width: 100% !important;
  overflow-x: hidden !important; /* لمنع السكرول الأفقي */
  overflow-y: auto !important; /* السماح بالسكرول العمودي */
}





.swiper-slide img {
  max-height: 100%;
  object-fit: contain;
}





